:root {
/* --bg-color: #141414;
--bg-color-light: #1d1d1d;
--fg-color: #ccc;
--hl-color: #999999;

--blue: #5385F2;
--blue: #84c590;

*/

--headerheight: 42px;
--headertransition: 0.65s ease;

--bg-color: #141414;
--bg-color-light: #1d1d1d;

--white: #ECEDEC;
--gold: #B8B994;
--green: #5E9F45;
--orange: #B86648;

}


html, body {
	background-color: var(--bg-color);
	color: var(--white);
	font-family:  Helvetica, Arial, sans-serif;
	font-family:  'Courier New', Courier, monospace;


	font-weight: normal;
	font-size: 18px;
	box-sizing: border-box;
	margin: 0;
}

html, body, div, textarea, select, main, section, h1, h2 {
	box-sizing: border-box;
}

div, section {
	max-width: 100%;
}


a {
	color: var(--blue);
}

header {
	margin: 0;
	padding: 16px 12px 12px;
	background-color: var(--bg-color-light);
	height: var(--headerheight);
	overflow: hidden;
	display: grid;
	grid-template-columns: min-content auto 20px;
	grid-template-rows: var(--headerheight) auto;
	transition: height var(--headertransition);
}

header.open {
	height: auto;
}

main {
	padding: 24px 8px;
	margin: 0;
	padding: 0;
	/* display: grid;
	grid-column-gap: 24px;
	grid-template-columns: min-content auto; */
}

section {
	padding: 6px 8px;
}

a {
	text-decoration: none;
	color: var(--gold);
}

h1 {

	display: inline-block;
	font-weight: normal;
	color: var(--white);
	font-size: 1.6em;
	margin: 0;
	white-space: nowrap;
}

#arrows {
	margin: -10px 0 0 24px;
	transition: 2s;
}

#arrows div {
	display: inline-block;
	font-size: 2.4em;
	transition: 3s;
}

#arrow1 {
	transform: rotate(50deg);

}

#arrow2 {
	transform: rotate(300deg);
}

#menu_button {
	color: var(--white);
	text-align: center;
	transition: all var(--headertransition);
}

#menu_button.open {
	color: var(--orange);
	transform: rotate(180deg);
}

#welcome_message {
	font-weight:  100;
	line-height: 1.4em;
	max-width: 860px;
	margin: 12px auto;
	padding: 4px;
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}

h2 {
	font-weight: normal;
	color: var(--orange);
	font-size: 1.6em;
	margin: 18px 18px;
}
h2:after {
	content: '';
	background: var(--orange);
	width: 100%;
	height: 1px;
	display: block;
}

h3 {
	font-weight: normal;
	color: var(--green);
	font-size: 1.4em;
	margin: 16px 0;
}

#get_share_link, .plus {
	font-size: 1.1em;
	padding: 0.5px 0px 0;
	margin-left: 8px;
}

#get_share_link {
	padding: 6px 24px;
	margin-left: 0px;
	border: 1px solid var(--white);
	border-radius: 6px;
	text-align: center;
}

#share_area {
	width: 350px;
	/* text-align: center; */
}

#patch_info_title {
	margin-bottom: 34px;
}

input.clocks, input.patch_info, #coast_express_share_link, textarea {
	color: var(--white);
	background-color: var(--bg-color);
	font-family: inherit;
	font-size: inherit;
	padding: 2px 6px;
	width: 40px;
	border: 1px solid var(--white);
	border-radius: 6px;
}

input.patch_info, textarea {
	width: 354px;
}

select.patch_info {
	width: 354px;
}

#coast_express_share_link {
	border-radius: 0;
	width: 136px;
	margin-top: -12px;
}


#author {
	height: 5.4em;
}
#patch_notes {
	height: 7.6em;
}

textarea {
	padding-top: 4px;
	height: 2.9em;
}

.item_category {
	color: var(--gold);
	padding: 0 0 12px 12px;
}

.item {
	display: grid;
	padding-left: 28px;
	opacity: 0.5;
}

.active {
	opacity: 1;
}

.item.patch_info {
	grid-template-columns: 134px 354px auto;
}

.item.knobs > div {
	padding-right: 4px;
}

.item.jacks > div {
	padding-right: 4px;
}


.instrument_0coast .item.knobs {
	grid-template-columns: 296px auto;
}

.instrument_0coast .item.jacks {
	grid-template-columns: 220px 0px max-content max-content;
}

.instrument_strega .item.knobs {
	grid-template-columns: 266px auto;
}

.instrument_strega .item.jacks {
	grid-template-columns: 264px 0px max-content max-content;
}

.instrument_0ctrl .item.knobs {
	grid-template-columns: 296px auto;
}

.instrument_0ctrl .item.jacks {
	grid-template-columns: 220px 0px max-content max-content;
}

.instrument_mother32 .item.knobs {
	grid-template-columns: 206px auto;
}

.instrument_mother32 .item.knobs > * > select {
	width: 128px;
}

.instrument_mother32 .item.jacks {
	grid-template-columns: 120px 0px max-content max-content;
}

.instrument_dfam .item.knobs {
	grid-template-columns: 266px auto;
}

.instrument_dfam .item.knobs > * > select {
	width: 108px;
}

.instrument_dfam .item.jacks {
	grid-template-columns: 116px 0px max-content max-content;
}

.instrument_subharmonicon .item.knobs {
	grid-template-columns: 206px auto;
}

.instrument_subharmonicon .item.knobs > * > select {
	width: 132px;
}

.instrument_subharmonicon .item.jacks {
	grid-template-columns: 148px 0px max-content max-content;
}

.instrument_werkstatt .item.knobs {
	grid-template-columns: 106px auto;
}

.instrument_werkstatt .item.knobs > * > select {
	width: 97px;
}

.instrument_werkstatt .item.jacks {
	grid-template-columns: 120px 0px max-content max-content;
}

.instrument_expandedrack_settings .item.knobs {
	grid-template-columns: 122px auto;
}

.instrument_expandedrack_settings .item.knobs > * > select {
	width: 434px;
}

.instrument_expandedrack_settings .item.knobs.reverb > * > select {
	width: 224px;
}

.instrument_expandedrack .item.knobs {
	grid-template-columns: 214px auto;
}

.instrument_expandedrack .item.knobs > * > select {
	width: 107px;
}

.instrument_expandedrack .item.jacks {
	grid-template-columns: 196px 0px max-content max-content;
}

.instrument_externalcv .item.jacks {
	grid-template-columns: 140px 0px max-content max-content;
}

.item.jacks.addtional {
	grid-template-columns: 90px max-content max-content;
}

.item.clocks {
	grid-template-columns: 196px min-content min-content auto;
}

.clockgap {
	margin-left: 4px;
}

.item.midi {
	grid-template-columns: 132px min-content auto;
}

#coast_express_help {
	font-size: 0.9em;
	opacity: 1;
	grid-template-columns: auto;
}

#coast_express_help_toggle {
	display: inline-block;
}

#coast_express_help_toggle.open {
	transform: rotate(180deg);
}

#coast_express_link {
	width: 21px;
	height: auto;
	margin-left: 12px;
}

.item div {
	margin-bottom: 12px;
	display: inline-block;
}

select {
	background-color: var(--bg-color);
	color: var(--white);
	border-color: var(--white);
	font-family: inherit;
	font-size: 0.9em;
	width: 77px;
	padding: 2px 6px;
	outline-color: var(--orange);
	-webkit-appearance:none;
}

select.multiplier {
	width: 36px;
}

select.knobs {
	width: 77px;
}

select.jacks {
	width: 508px;
}

select.midi {
	width: 188px;
}

select.clocks {
	width: 106px;
}

.pointy {
	cursor: pointer;
	user-select: none;
}

.hidden {
	visibility: hidden;
}

.collapse {
	height: 0;
	overflow: hidden;
}

#no_instruments {
	color: var(--green);
	margin-left: 32px;
}

#support_us {
	font-size: 0.8em;
	margin-left: 32px;
}

#pedalboard_container, #elements {
	height: 84px;
	overflow: hidden;
}

#pedalboard_container.active {
	height: auto;
	overflow: visible;
}

#pedalboard_preset, #elements {
	display: block;
	width: 334px;
	height:34px;
}

#pedalboard_preset_save_button {
	width: 334px;
	padding: 6px 24px;
	margin-top: 12px;
	border: 1px solid var(--white);
	border-radius: 6px;
	text-align: center;
}

#elements.active {
	height: 17ex;
}

.active > #pedalboard_preset_save_button {
	color: green;
}

/* ********* Media Queries ********* */


@media only screen and (min-width: 1290px) {

	#patch_info_container {
		display: grid;
		grid-template-columns: 524px auto;
	}

	#get_share_link {
		width: 100%;
		padding: 6px 24px;
		margin-left: 0px;
		border: 1px solid var(--white);
		border-radius: 6px;
		text-align: center;
	}

	#instrument_0coast_columns {
		display: grid;
		grid-template-columns: 464px auto;
	}

	#instrument_strega_columns {
		display: grid;
		grid-template-columns: 434px auto;
	}

	#instrument_0ctrl_columns {
		display: grid;
		grid-template-columns:464px auto;
	}

	#instrument_mother32_columns {
		display: grid;
		grid-template-columns:441px auto;
	}

	#instrument_dfam_columns {
		display: grid;
		grid-template-columns: 476px auto;
	}

	#instrument_subharmonicon_columns {
		display: grid;
		grid-template-columns:441px auto;
	}

	#instrument_werkstatt_columns {
		display: grid;
		grid-template-columns:294px auto;
	}

	#instrument_passiverack_columns {
		display: grid;
		grid-template-columns: 344px auto;
	}

	#instrument_expandedrack_columns {
		display: grid;
		grid-template-columns: 404px auto;
	}
}

@media only screen and (max-width: 1166px) {

	main {
		grid-template-columns: auto;
	}

}

@media only screen and (min-width: 900px) {

	#welcome_message {
		max-width: 100%;
		margin: 12px 12px;
	}

	#welcome_text {
		width: calc(100% - 340px);
		max-width: 850px;
		float: left;
	}

	#contact_info {
		width: 340px;
		padding-left: 30px;
		float: right;
	}
}

@media only screen and (max-width: 830px) {
	html, body {
		font-size: 14px;
	}

	.item.knobs  {
		grid-template-columns: calc(100% - 462px) 0px max-content max-content !important;
	}

	.item.jacks  {
		grid-template-columns: calc(100% - 528px) 0px max-content max-content !important;
	}
}

@media only screen and (max-width: 767px) {

	header {
		padding: 16px 12px 3px;
	}

	h1 {
		font-size: 1.4em;
	}

	#menu_button {
		text-align: right;
	}

	.item.knobs  {
		grid-template-columns: calc(100% - 336px) 0px max-content max-content !important;
	}

	.item.jacks  {
		grid-template-columns: calc(100% - 421px) 0px max-content max-content !important;
	}

	#share_area {
		max-width: 100%;
		text-align: left;
	}

	select.patch_info, textarea.patch_info {
		width: 80%;
	}

	select.jacks {
		width: 100%;
	}

	.item {
		padding-left: 18px;
	}

}

.supertopsecret {
	display: block;
	height: 0;
	overflow: hidden;
}